
[user]
	name = Anders Swanson
	email = anders.swanson@dbtlabs.com
	signingkey = /Users/dataders/.ssh/id_ed25519.pub
[core]
	editor = "cursor --wait"
	symlink = true
	symlinks = true
	pager = cat
[pull]
	rebase = false
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[http]
	postBuffer = 524288000
[gpg]
	format = ssh
[diff]
    algorithm = histogram
[rerere]
    enabled = true
    autoUpdate = true